name: CI
on: [push]
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        _: [
          { runs-on: windows-latest, python-version: 3.10.4, extension: .ps1 },
          { runs-on: ubuntu-latest , python-version: 3.8.x , extension: "" },
        ]

    runs-on: ${{ matrix._.runs-on }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix._.python-version }}

      - id: run-basic-test
        run: echo "::set-output name=OUTPUT::$(tests/basic${{ matrix._.extension }})"

      - id: check-result
        if: steps.run-basic-test.outputs.OUTPUT != 'Applesauce'
        run: |
          echo "OUTPUT was '${{ steps.run-basic-test.outputs.OUTPUT }}'"
          exit 1
  actions-debugging-is-disabled:
    runs-on: ubuntu-latest
    steps:
        - name: Ensure actions debugging is disabled
          run: |
            [[ "${{ secrets.ACTIONS_STEP_DEBUG   }}" != "true" ]] || exit 1
            [[ "${{ secrets.ACTIONS_RUNNER_DEBUG }}" != "true" ]] || exit 1
